@use "swiper/css/bundle";

/* =============================================================== *\
   UD Carousel Block
\* =============================================================== */

.wp-block-ud-carousel-block {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;

	// Navigation
	.ud-button-next,
	.ud-button-prev {
		margin-top: 0;
		color: var(--ud-carousel-navigation-color, #000);
		width: var(--ud-carousel-arrow-width, 24px);
		height: auto;
		display: block;
		cursor: pointer;
		top: calc(50% - (var(--ud-carousel-arrow-width, 24px) / 2));
		position: absolute;
		img {
			max-width: unset;
		}
		&.swiper-button-disabled,
		&.is-hidden {
			display: none;
		}
		&.has-custom-arrow::after {
			display: none;
		}
	}

	.ud-button-prev {
		left: 0;
		transform: translate(
			calc(-1.2 * var(--ud-carousel-arrow-size, 24px)),
			0
		);
		&.has-custom-arrow {
			transform: translate(
					calc(-1.2 * var(--ud-carousel-arrow-size, 24px)),
					0
				)
				rotate(180deg);
		}
	}
	.ud-button-next {
		right: 0;
		transform: translate(
			calc(1.2 * var(--ud-carousel-arrow-width, 24px)),
			0
		);
	}

	// Slides / Cards
	.swiper-slide.ud-slide-block {
		display: flex;
		align-items: stretch;
		justify-content: center;

		.ud-testimonial-card {
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			overflow: hidden;
			max-width: unset;
			blockquote {
				padding-bottom: 0.5rem;
			}

			p.name,
			p.firma {
				font-style: italic;
                font-size: clamp(0.8em, 1.8vw, 1em);
                line-height: clamp(0.9em, 1.9vw, 1.1em);
				text-align: right;
			}
			p.name {
				margin-top: auto;
			}
			p.firma {
				margin-top: 0;
				padding-bottom: 0.25rem;
			}
		}
	}

	// Pagination
	.swiper-pagination {
		display: flex;
		justify-content: center;
		top: 0;
		position: relative;
		margin-top: 0.5em;

		.swiper-pagination-bullet {
			background: var(--ud-carousel-pagination-bullet-color, #999);
			height: var(--ud-carousel-pagination-bullet-size, 8px);
			width: var(--ud-carousel-pagination-bullet-size, 8px);
			opacity: var(--ud-carousel-pagination-bullet-opacity, 0.5);
			margin: 0 var(--ud-carousel-pagination-bullet-gap, 4px);

			&.swiper-pagination-bullet-active {
				background: var(
					--ud-carousel-pagination-bullet-active-color,
					#000
				);
				opacity: var(--ud-carousel-pagination-bullet-active-opacity, 1);
			}
		}
	}

	&[data-pagination="true"] {
		.ud-button-prev,
		.ud-button-next {
			top: calc(50% - 10px);
		}
	}

	@media (max-width: 800px) {
		.swiper {
			// Platz für beide Pfeile + je 10px Rand
			max-width: calc(
				100% - (2 * var(--ud-carousel-arrow-width, 24px)) - 20px
			);
			margin-inline: auto;
		}
		.ud-button-prev {
			left: 4px;
			// Bei Custom-Arrow Rotation beibehalten
			&.has-custom-arrow {
				transform: translate(0, 0) rotate(180deg);
			}
			// Bei Standard-Arrow ohne Rotation
			&:not(.has-custom-arrow) {
				transform: translate(0, 0);
			}
		}
		.ud-button-next {
			right: 4px;
			transform: translate(0, 0);
		}
	}
}
